<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>unknown</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body style="background-color: #f0ffff">
<div class="daohang">
    <nav class="navbar navbar-default">
        <ul id="menu">
            <center>
                <ul>
                    <li><a href="/Tool/">Methylation Analysis Tool</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/CPGS/">Differential CpGs</a></li>
                    <li><a href="/Genes/">Methylation-Driven Genes</a></li>
                    <li><a href="/Correlation/">Correlation</a></li>
                    <li><a href="/Survival/">survival</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DIY<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color: lightblue;">
                            <li><a href="/Genes_DIY/" style="font-size: 15px">Methylation-Driven Genes</a></li>
                            <div style="background: #313131;height: 1px;width: auto;"></div>
                            <li><a href="/Correlation_DIY/" style="font-size: 15px">Correlation</a></li>
                            <div style="background: #313131;height:1px;width: auto;"></div>
                            <li><a href="/Survival_DIY/" style="font-size: 15px">Survival Analysis</a></li>
                        </ul>
                    </li>
                    <li><a href="/About/">About</a></li>

                    </li>
                </ul>
            </center>
        </ul>
    </nav>
</div>
<div class="line"></div>
<div class="container" style="width: 910px;height: 194px;margin: 20px">
    <h3 style="padding-top: 15px">Enter Gene Name:</h3>
    <div class="col-lg-12" style="position: center;padding-top: 30px">
        <div class="input-group">
          <input type="text" id="genes"  class="form-control" placeholder="Enter gene name...">
            <span class="input-group-btn">
                <button onclick="func_1()" class="btn btn-default">Go!</button>
            </span>
        </div>
    </div>
</div>

<div id="datatable" class="table-responsive" style="height: 540px;width: 960px;">
</div>



</body>
<script>
    {#var sendjson = $('.form-control').val();#}
    {#$.get("/?sendjson="+sendjson, function(data){#}
    {#     console.log(data)#}
    {# }); #}
    function func_1() {
        console.log($('#genes').val())
        $.ajax({
            url:'/search/',
            type:'post',
            data:{'genes':$('#genes').val()},
            datatype:'json',
            success:function (data) {

                // var num = JSON.paese(data[1]);

                var data = JSON.parse(data);
                data = data[0]
                var n = data[1]
                $('.table').remove();
                var myhtml = `<table class="table">
                        <tr>
                            <th>ID</th> <th>Gene</th> <th>Chrom</th> <th>ChromStart</th> <th>ChromEnd</th>
                        </tr>
                        </table>`
                $('#datatable').append(myhtml)
                for (var i=0;i<data.length;i++){
                    var alltd = "";
                    //$('#datatable').find('p').remove();
                    var mytr =$('<tr class="mytr"></tr>')
                    for(var j=0;j<data[i].length;j++){
                        alltd += '<td>'+data[i][j]+'</td>'
                    }

                    $(mytr).append(alltd);
                    $('.table').append(mytr)

                }
            },
            error: function (e) {
                alert('error')
            }


        })
    }

</script>
</html>
